doctype

html
  head
    title Ezpoll - A simple voting web app!
    include lib.jade
    
  body
      div(class="container-fluid")
        include header.jade
        
          
script(src="js/init.js")