doctype

html
  head
    title New Pin
    include lib.jade
    
  body
      div(class="container-fluid")
       include header.jade
       div(class="row")
         div(class="signup-panel")
           p(class="signup-prompt") Create New Pin
           div(class="form")
             form(action="/newpin" method="post")
               p(class="form-prompt") Title
               input(type="text" name="title" class="long-input")
               p(class="form-prompt") Picture URL
               input(type="text" name="url" class="long-input")
               input(type="submit" value="Create" class="submit-btn")
               
               -function errToElement(err){
               -    if(err=="invalid"){return "<div class='error-prompt'>Please make sure the link is a valid image link!</div>"}
               -    return "";
               -}
               
               p !{errToElement(err)}
script(src="js/init.js")
               