doctype

html
  head
    title Sign Up For EzPoll
    include lib.jade
    
  body
      div(class="container-fluid")
       include header.jade
       div(class="row")
         div(class="signup-panel")
           p(class="signup-prompt") Sign Up
           div(class="form")
             form(action="/signup" method="post")
               p(class="form-prompt") User Name
               input(type="text" name="username" class="long-input" maxlength="10")
               p(class="form-prompt") Password
               input(type="password" name="password" class="long-input")
               p(class="form-prompt") Re-enter Password
               input(type="password" name="re-password" class="long-input")
               input(type="submit" value="Sign Up And Enjoy Voting!" class="submit-btn")
               
               -function errToElement(err){
               -    if(err=="exist"){return "<div class='error-prompt'>This user name already exist! Please try another one! </div>"}
               -    if(err=="notMatch"){return "<div class='error-prompt'>The password and re-entered password does not match!</div>"}
               -    if(err=="empty"){return "<div class='error-prompt'>Fields cannot be empty! Please try again!</div>"}
               -    if(err=="invalid"){return "<div class='error-prompt'>Please make sure your username and password has only letters and numbers!</div>"}
               -    return "";
               -}
               
               p !{errToElement(err)}
script(src="js/init.js")
               